/* -------------------- JOURNAL -------------------- */
.journalSection {
    background-color: var(--bg);
    height: calc(100vh - var(--nav-height) - var(--footer-height));
    color: var(--text)
}

.articleSection {
    background-color: var(--bg);
    color: var(--text);
}

.journalSection, .articleSection > div {
    padding: 0 1rem;
}

.journalSection {
    text-align: center;
}

.journalSection h3 {
    padding: 3rem 0;
}

.articleSection h3 {
    text-align: center;
    margin-top: 3rem;
}

.paragraph {
    text-align: center;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 3rem;
    max-width: 130rem;
    margin: 0 auto;
}

.coverImage {
    display: block;
    margin: 3rem auto;
    max-width: 90%;
    height: auto;
}

.imageSolo {
    display: block;
    margin: 3rem auto;
    max-width: 90%;
    height: auto;
}

.imagesGroup2, .imagesGroup3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
    height: auto;
}

.imagesGroup3 {
    grid-template-rows: 1fr 1fr;
}

.imagesGroup2 img, 
.imagesGroup3 img {
    margin: 3rem auto;
    max-width: 90%;
    object-fit: cover;
    max-height: auto;
}

footer {
    background-color: var(--bg);
}

/* QUERIES */
@media (max-width: 62rem) {
    html {
        font-size: 50%;
        /* 8px / 16px = 50% */
    }

    .cardGrid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }

    .imagesGroup2, .imagesGroup3 {
        display: block;
        margin: 3rem auto;
        max-width: 100%; /* optional: keeps image responsive */
        height: auto;
        text-align: center;
    }

    .imagesGroup2 img, 
    .imagesGroup3 img {
        margin: 1.5rem auto;
        max-width: 90%;
    }
}

/* SM - MOBILE (HORIZONTAL) (577px – 768px) */
@media (max-width: 48rem) {
    /* 768px / 16rpx = 48rem */
    /* 48rem x 16px = 768px */
    .cardGrid {
        grid-template-columns: 1fr;
    }
}

/* XS - PHONE (PORTRAIT) (0 – 576px) */
@media (max-width: 36rem) {
    .cardGrid {
        grid-template-columns: 1fr;
    }  
}