/* -------------------- HOMEPAGE -------------------- */
.homeSection {
    background-color: var(--home-bg);
    height: calc(100vh - var(--nav-height));
}

.homeContainer {
    height: calc(100vh - var(--nav-height) - var(--footer-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeImg {
    max-width: 100rem;
    width: 100%;
}

.homeContainer p {
    text-align: center;
    margin-top: 2rem;
}

.slideshow {
    position: relative;
    max-width: 100rem;
    width: 100%;
    height: 68.5vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slide {
    /* display: none;
    text-align: center; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-height: 100%;     /* never taller than slideshow */
    max-width: 100%;      /* never wider than slideshow */
    object-fit: contain;  /* keep full image inside */
    display: block;
    margin: auto;
}

/* Fade animation */
.fade {
    animation: fadeEffect 1s;
}
@keyframes fadeEffect {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

/* Prev & Next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    user-select: none;
    transition: 0.3s;
    background: rgba(0,0,0,0.4);
    /* border-radius: 50%; */
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev { left: 10px; }
.next { right: 10px; }