/* ---------- NAVBAR ---------- */
header {
    background-color: var(--bg);
    color: var(--text);
}

.navbar {
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkContainer {
    display: flex;
    gap: 2rem;
}

.navLinkContainer a:hover {
    opacity: 0.8;
}

/* XS - PHONE (PORTRAIT) (0 – 576px) */
@media (max-width: 36rem) {
    .navbar {
        flex-direction: column;
        justify-content: space-evenly;
    }
}